/node_modules
/public/hot
/public/build
/public/storage
/storage/*.key
/storage/app/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/vendor
/.env
/.env.backup
/.env.production
/.phpunit.result.cache
/.phpunit.cache
/coverage
/npm-debug.log
/yarn-error.log
/pnpm-debug.log
/.idea
/.vscode
/.DS_Store
*.log
*.sql
*.sqlite
*.sqlite3
/vendor/*
/agent/*.jar
/agent/target
